:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --back-color: #fff;
  --icon-color: #afb1b8;
  --container-width: 1200px;
  --title-mb: 50px;
  --container-pl: 15px;
  --container-pr: 15px;
  --link-pt: 32px;
  --link-pb: 32px;
  --bg-item-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);
}
.section {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.adress {
  font-style: normal;
}

/* HEADER */

.header .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo-link {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-text-light {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--back-color);
}
.navigation-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: var(--link-pt);
  padding-bottom: var(--link-pb);
  transition: color 250ms var(--timing-function);
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: var(--link-pt);
  padding-bottom: var(--link-pb);
  transition: color 250ms var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* HERO */
.hero {
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--back-color);
  margin: auto;
}
/* MODAL */

.modal-btn {
  display: inline-block;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--back-color);
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  border: none;
  transition: background-color 250ms var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--back-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 250ms var(--timing-function);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.close-btn:hover,
.close-btn:focus {
  background-color: red;
}

.modal-icon {
  transition: fill 250ms var(--timing-function);
}

.close-btn:hover .modal-icon,
.close-btn:focus .modal-icon {
  fill: var(--back-color);
}
.form {
  display: flex;
  flex-direction: column;
}
.form-title {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form-label {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border-color: var(--accent-color);
}
.form-comment::placeholder {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-btn {
  margin: auto;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form-btn:hover,
.form-btn:focus {
  background: #188ce8;
}

.form-checkbox {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-link {
  color: var(--accent-color);
}
/* PRINCIPLE */
.principle-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--bg-item-color);
  margin-bottom: 30px;
}
.principle-list {
  display: flex;
  align-items: center;
}
.principle-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.principle-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.principle-list-item {
  width: 270px;
}
.principle-list-item:not(:last-child) {
  margin-right: 30px;
}
/* WORKS */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.our-works {
  padding-top: 0;
}
.work-list {
  display: flex;
  align-items: center;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.section-title {
  margin-bottom: 50px;
}
.thumb {
  position: relative;
}
.thumb-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}
.thumb-description {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color);
}
/* TEAM */
.our-team {
  background-color: var(--bg-item-color);
}
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4-30px);
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
  background-color: var(--back-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-description {
  text-align: center;
  padding: 30px 32px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team-prof {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms var(--timing-function);
}
.social-icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--back-color);
}
/* Постоянные клиенты */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-list-item {
  width: 170px;
  height: 90px;
}
.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.client-icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* FOOTER */
.adress-footer {
  margin-right: 70px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo-link {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.footer .contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--back-color);
}
.contact-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
}
.footer-social-list-item {
  width: 44px;
  height: 44px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-social-icon {
  fill: var(--back-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
/* PORTFOLIO */

.porfolio-btn-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.portfolio-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-btn-all {
  background-color: var(--accent-color);
  color: var(--back-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-items {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--back-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* EXAMPLE */
.example-title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.example-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  width: 370px;
}
.example-cont-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.example-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.example-foto {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--back-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-card-link:hover .overlay-text,
.portfolio-card-link:focus .overlay-text {
  transform: translateY(0%);
  display: inline-block;
}
